/* 通用css */

* {
	margin: 0;
	padding: 0;
}


.button {
	cursor: pointer;
	border-radius: 5px;
	width: 4vw;
	background-color: gray;
	border: none;
	color: #FFF;
	font-size: 14px;
	padding:1px 4px;
}

input {
	padding: 6px;
	height: 2vh;
	width: 11vw;
	border-radius: 5px;
	border: 1px solid #999999;
}