<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zut.cs.curriculum.dao.CourseMapper">
    <select id="getAllCourse"  resultType="edu.zut.cs.curriculum.model.Course">
        select id,courseNum,courseName,period,credit
        from t_course
    </select>
    <select id="getCourseNameById" parameterType="Integer"  resultType="java.lang.String">
        select courseNum
        from t_course
        where id=#{id}
    </select>
    <select id="getCourseById" parameterType="Integer"  resultType="edu.zut.cs.curriculum.model.Course">
        select id,courseNum,courseName,period,credit
        from t_course
        where id=#{id}
    </select>
    <insert id="insertCourse">
    insert into t_course values('9999','DB1000010','艺术鉴赏2','3','30')
    </insert>
    <delete id="deleteCourseById">
    delete from t_course
    where id=#{id}
    </delete>

</mapper>