<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zut.cs.admin.dao.CptLabMapper">
    <select id="getComputerLabById" parameterType="java.lang.Integer" resultType="edu.zut.cs.admin.model.CptLab">
    SELECT id,room_num,amount,priority
    FROM t_cptLab
    WHERE id=#{0}
</select>
    <select id="getAllComputerLab" resultType="edu.zut.cs.admin.model.CptLab">
        SELECT id,room_num,amount,priority
        FROM t_cptLab
    </select>


    <select id="selectFreeCptLabByTime" parameterType="java.lang.Integer" resultType="edu.zut.cs.admin.model.CptLab">
    SELECT id,room_num,amount,priority
    FROM t_cptLab
    WHERE id NOT IN (
        select lab_id from t_record
        where t_record.week=#{week} AND t_record.week_day=#{weekDay} AND t_record.node=#{node}
        GROUP BY lab_id
    )
    ORDER BY t_cptLab.priority
  </select>

   <delete id="deleteComputerLabById" parameterType="java.lang.Integer">
   		delete from t_cptLab where id =#{id}
   </delete>

	<insert id="insertComputerLab">
	 	insert into t_cptLab(room_num,priority,amount)
	 	 values(#{0,jdbcType=VARCHAR},#{1,jdbcType=INTEGER},#{2,jdbcType=INTEGER})
	</insert>
	
	<update id="updateComputerLabInfo">
		update t_cptLab set priority=#{1},amount=#{2}
		where id=#{0}
	</update>
	
	
</mapper>