<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zut.cs.rolepower.dao.FunctionMapper">
    <select id="selectTeacher" resultType="edu.zut.cs.user.model.Teacher">
        SELECT teacher_id,teacher_name
        FROM v_teacher_function
        WHERE role_id = #{roleId}
    </select>

    <select id="countTeacher" resultType="Integer">
        SELECT COUNT(*)
        FROM v_teacher_function
        WHERE role_id = #{roleId}
    </select>

    <delete id="delete" parameterType="Integer">
        DELETE FROM t_role
        WHERE id = #{roleId}
    </delete>
</mapper>