<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zut.cs.user.dao.TeacherMapper">
	<select id="getAllTeacher" resultType="edu.zut.cs.user.model.Teacher">
		select
		id,teacherNum,teacherName,teacherEmail,passWord
		from t_teacher
	</select>

	<select id="getNameById" parameterType="Integer" resultType="java.lang.String">
		select teacherName
		from t_teacher
		where id = #{0}
	</select>

</mapper>